﻿@model LoginViewModel
<div class="col-lg-4"></div>
<div class="col-lg-4 text-center padTop10">
    <h6>&copy; - 2016</h6>
    <br />
    <h4>@ViewBag.Status</h4>
</div>
<div class="modal" id="login_popup" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content col-xs-12">
            <a href="" style="font-size:xx-large" data-dismiss="modal" class="pull-right" aria-hidden="true">X</a>
            <div class="text-center">
                <h3 class="title">Please Login!</h3>
            </div>
            <div class="modal-body">
                <section>
                    <form asp-controller="Login" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
                        <div class="form-group" style="padding-left:5%;">
                            <label asp-for="Email" class="col-xs-4 control-label">Email:</label>
                            <div class="col-xs-7">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group" style="padding-left:5%;">
                            <label asp-for="Password" class="col-xs-4 control-label">Password:</label>
                            <div class="col-xs-7">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 text-center">
                            <div style="padding-top:5%;" class="text-center">
                                <button type="submit" class="btn btn-default text-center">Log in</button>
                            </div>
                        </div>
                    </form>
                </section>
                <div class="modal-footer">
                    <br />
                    <div class="text-center">
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->