﻿@model CatalogueViewModel
<div class="col-sm-2 col-xs-12">&nbsp;</div>
<div class="text-center col-sm-8 col-xs-12">
    <form id="genreForm" asp-controller="Genre" asp-action="SelectGenre" method="post" onload="this.form.submit();">
        <div class="col-sm-4 col-xs-12">&nbsp;</div>
        <div class="col-sm-4 col-xs-12" style="padding-bottom:5%;">
            <span style="font-size:medium;" class="title">Genres</span>
            <select asp-for="GenreId" asp-items="@Model.GetGenres()"
                    class="form-group form-control" onchange="this.form.submit();">
                <option selected style="display:none;">Select Genre</option>
            </select>
        </div>
        <div class="col-sm-4 col-xs-12">&nbsp;</div>
    </form>
    <catalogue genre="@Model.GenreId"></catalogue>@*All Summary information is sourced from www.GoodReads.com*@
</div>

<div class="modal" id="details_popup">
    <div class="modal-dialog">
        <div class="modal-content col-xs-12">
            <div class="modal-body">
                <a href="" style="font-size:xx-large" data-dismiss="modal" class="pull-right">X</a>
                <div class="text-center">
                    <img alt="" id="detailsGraphic" />
                    <h4 id="productName"></h4>
                </div>
                <form asp-controller="Genre" asp-action="SelectItem" method="post" role="form">
                    <table class="table table-striped">
                        <tr><td class="col-xs-2 col-sm-2 text-right">Author</td><td class="col-xs-8 col-sm-10 text-left" id="author"></td></tr>
                        <tr><td class="col-xs-2 col-sm-2 text-right">Genre</td><td class="col-xs-8 col-sm-10 text-left" id="genre"></td></tr>
                        <tr><td class="col-xs-2 col-sm-2 text-right">Description</td><td class="col-xs-8 col-sm-10 text-left" id="description"></td></tr>
                        <tr><td class="col-xs-2 col-sm-2 text-right">Publisher</td><td class="col-xs-8 col-sm-10 text-left" id="publisher"></td></tr>
                        <tr><td class="col-xs-2 col-sm-2 text-right">ISBN10</td><td class="col-xs-8 col-sm-10 text-left" id="isbn10"></td></tr>
                        <tr><td class="col-xs-2 col-sm-2 text-right">ISBN13</td><td class="col-xs-8 col-sm-10 text-left" id="isbn13"></td></tr>
                        <tr><td class="col-xs-2 col-sm-2 text-right">Price</td><td class="col-xs-8 col-sm-10 text-left" id="price"></td></tr>
                        <tr>
                            <td class="col-xs-4 text-right">Qty:</td>
                            <td class="col-xs-4 text-left">
                                <input asp-for="Qty" type="number" maxlength="3" size="3" min="0" style="width: 50px;" id="qty" />
                                <input asp-for="ProductId" type="hidden" id="detailsId" />
                            </td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="btn btn-sm btn-primary" id="modalbtn">Add To Cart</button>
                        <button id="btnRemove" type="submit" class="btn-sm btn btn-danger">Remove Item</button>
                        <a href="/Cart" class="btn btn-sm btn-success">View Cart</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="results" class="text-center">
                    @ViewBag.AddMessage
                </div>
            </div>
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--modal-->