﻿<div class="col-sm-3">&nbsp;</div>
<div class="panel col-sm-6 col-xs-12">
    <div class="panel-title text-center" style="padding-top:20px;">
        <h3 style="font-weight:bolder" class="title">Order Items</h3>
        <img src="/img/cart.jpg" style="height:10%;width:10%;padding-bottom:5%;" />
    </div>
    <div class="text-center" style="padding-top:10px;">
        @{
            Dictionary<string, object> cart = Context.Session.GetObject<Dictionary<string, Object>>("cart");
            decimal GST = 0.13M;

            decimal subTotal = 0;
            decimal orderTax = 0;
            decimal orderTotal = 0;
            //Change all totals here later
        }
        <table class="table table-striped">
            <tr style="font-weight:bolder;">
                <th class="col-xs-2 text-center">Qty</th>
                <th class="col-xs-8 text-center">Product Name</th>
                <th class="col-xs-10 text-center">Price</th>
            </tr>
            @{
                if (cart != null)
                {
                    foreach (var key in cart.Keys)
                    {
                        ProductViewModel item = JsonConvert.DeserializeObject
                        <ProductViewModel>
                        (Convert.ToString(cart[key]));
                        if (item.Qty > 0)
                        {
                            subTotal += (item.MSRP * item.Qty);//Change original datatype to double? or make total decimal
                            <tr>
                                <td class="col-xs-2 text-center">@item.Qty</td>
                                <td class="col-xs-8 text-center">@item.ProductName</td>
                                <td class="col-xs-10 text-center">$@item.MSRP.ToString("N2")</td>
                            </tr>
                        }
                    }
                    orderTax = subTotal * GST;
                    orderTotal = subTotal + orderTax;
                }
            }
        </table>
        <hr />
        <table class="table table-striped">
            <tr><th colspan="4" class="col-xs-4 text-left" style="font-size:large;font-weight:bold;">Order Totals</th></tr>
            <tr>
                <td class="col-xs-2 text-right">Sub Total:</td>
                <td class="col-xs-4 text-left" id="subTotal">$@subTotal.ToString("N2")</td>
            </tr>
            <tr>
                <td class="col-xs-2 text-right">Tax:</td>
                <td class="col-xs-4 text-left" id="orderTax">$@orderTax.ToString("N2")</td>
            </tr>
            <tr>
                <td class="col-xs-2 text-right">Order Total:</td>
                <td class="col-xs-4 text-left" id="orderTotal">$@orderTotal.ToString("N2")</td>
            </tr>
        </table>
        <div class="text-center">
            <form asp-controller="Cart" asp-action="AddOrder" method="post" role="form">
                @if (Context.Session.GetString(SessionVars.User) != null)
                {
                    <button type="submit" class="btn btn-sm btn-primary" id="modalbtn">Add Order</button>
                }
                &nbsp;<a href="/Cart/ClearCart" class="btn btn-sm btn-success">Clear Cart</a>
            </form>
        </div>
    </div>
</div>