﻿@model ProductViewModel
<div class="col-sm-2 col-xs-1">&nbsp;</div>
<div class="col-xs-10" style="position:relative;top:55px;">
    <h4>Items In Genre - @Model.GenreName</h4>
    <ul class="list-group col-sm-8 col-xs-12">
        @{
            foreach (Product item in Model.Products)
            {
                <li class="list-group-item">
                    @item.Description
                </li>
            }
        }
    </ul>
</div>